<div id="contenaire_contact" style="text-align: center">

    <p><h2>Contact : </h2></p>
    <div id="chargement" data-ng-if="chargement"></div>

    <p> <input type="text" placeholder=" Votre Pseudo..." required name="ajoutAgenda_Date" data-ng-model="ajoutAgenda_Date"> </p>
    <p> <input type="text" placeholder=" Titre de votre demande..." required name="ajoutAgenda_Nom" data-ng-model="ajoutAgenda_Nom"> </p>

    <p> <textarea placeholder=" Votre message..." required name="ajoutAgenda_Detail" data-ng-model="ajoutAgenda_Detail" ></textarea> </p>

    <p> <button data-ng-click="ajouterAgenda()"> Envoyer votre message </button> </p>




</div>